/venv*/
/.idea/
**/__pycache__/
/.pytest_cache/

/models/

1_:memory:

/cache/
/build/
.json
.pdf
.bson
*.spec
/evaluation/datasets/aviation/documents
/evaluation/datasets/nobel/documents
/evaluation/results/